<div class="foundusers row">

<div class="col-md-3 eachuser">
<div class="row">
  <div class="col-md-12">
  <img class="user_pic" src="avatars/5.svg">
  </div>
  <div class="col-md-12 eachprofile">
  <li class="name">Nick</li>
    <div class="col-md-4">
   <img class="user_pic" src="number/number-8.svg">
   <li>Number 8</li>
   </div>
   <div class="col-md-4">
   <img class="user_pic" src="horo/scorpio.svg">
   <li>Scorpio</li>
   </div>
   <div class="col-md-4">
   <img class="user_pic" src="mbti/ESFJ.png">
   <li>ESFJ</li>
   </div>


  <button class="btn btn-success message">message</button>
  </div>
</div>
</div>

<div class="col-md-3 eachuser">
<div class="row">
  <div class="col-md-12">
  <img class="user_pic" src="avatars/5.svg">
  </div>
  <div class="col-md-12 eachprofile">
  <li class="name">Nick</li>
    <div class="col-md-4">
   <img class="user_pic" src="number/number-8.svg">
   <li>Number 8</li>
   </div>
   <div class="col-md-4">
   <img class="user_pic" src="horo/scorpio.svg">
   <li>Scorpio</li>
   </div>
   <div class="col-md-4">
   <img class="user_pic" src="mbti/ESFJ.png">
   <li>ESFJ</li>
   </div>


  <button class="btn btn-success message">message</button>
  </div>
</div>
</div>

<div class="col-md-3 eachuser">
<div class="row">
  <div class="col-md-12">
  <img class="user_pic" src="avatars/5.svg">
  </div>
  <div class="col-md-12 eachprofile">
  <li class="name">Nick</li>
    <div class="col-md-4">
   <img class="user_pic" src="number/number-8.svg">
   <li>Number 8</li>
   </div>
   <div class="col-md-4">
   <img class="user_pic" src="horo/scorpio.svg">
   <li>Scorpio</li>
   </div>
   <div class="col-md-4">
   <img class="user_pic" src="mbti/ESFJ.png">
   <li>ESFJ</li>
   </div>


  <button class="btn btn-success message">message</button>
  </div>
</div>
</div>



</div>
