
<div class="row profilediv">
<div class="profile col-xs-10 col-md-3 col-xs-offset-1">
</div>
<div class="col-md-6">
<button id="showhistory" class="btn btn-success"> SHOW MY CONVERSATIONS </button>
<div class="history">

</div>
</div>

</div>