<div class="selection">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="instruction">
        <h2>The person you want to talk to</h2>
      </div>

      <form action="/secret">
        <input class="search_criteria" name="mbti" type="text" id="mbti" placeholder="MBTI-Type e.g. INFP" />
        <input class="search_criteria" name="zodiac" type="text" id="zodiac" placeholder="Zodiac e.g. Libra" />
        <input class="search_criteria" name="numerology" type="text" id="numerology" placeholder="Numerology e.g. 7"/>
        <button class="btn btn-success" id="findusers">Find</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-3 descriptiondiv ">
      <div class='description row'>
      </div>
    </div>
  </div>
</div>
