
<div class='select1'>
  <input type="text" id="mbti" />
  <input type="text" id="zodiac" />
  <input type="text" id="numerology" />
</div>

<div class='container'>
  <div class='description'></div>
</div>



