// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
    background: #000;
    width: 100px;
    height: 100px;
    position: relative;
}
.avatar h1 {
    color: #fff;
}