.login,.signup{
   font-size: 25px;
   background-color:#1C907F;
   color: white;
   margin:10px;
   width:300px;
}

.logo{
  font-size: 100px;
  color:#1C907F;

}
.welcome{
  margin-top: 100px;
}

.btn:hover{
  background-color:#FFCF04;
  color:white;
}


.icon{
  width:50%;
  margin-top: 10px;
  margin-right: 10px;
}

.header_icon{
  margin-top: 10px;
  margin-right: 10px;
  color:#1C907F;
  font-size: 25px;
  margin-bottom: 30px;

}

.blanks{
  margin-bottom: 10px;
}

.form-control{
  background-color: #cddad8;
  color:white;
}

.signup-detail{
   border-top: 10px solid #1C907F;
   border-left: 1px solid #cddad8;
   border-right: 1px solid #cddad8;
   border-bottom: 1px solid #cddad8;
   margin-top: 50px;
}

.instruction{
 padding-left: 15px;
 color: #1C907F;
 font-size: 20px;
}

.radio-inline{
  color:grey;
}

label{
  color:#1C907F;
}

.selection{
  margin-top: 50px;
}

.mbti_pic{
  width:100%;

}

.descriptiondiv{
  margin-top: 30px;
  font-family: "Arial Black"
}

.search_criteria{
  background-color:#1C907F;
  color:white;
  outline: none;
  padding:5px;
  border-radius: 5px;
  font-family: "helvetica";
  border: none;
}


::-webkit-input-placeholder {
   color: white;
}

.user_pic{
  width: 100%;
}

.eachprofile{
  padding-left: 40px;
  padding-top: 10px;

}

.eachuser{
  margin-top: 10px;
}

li{
  list-style: none;
  font-size:  12px;
  text-align: center;
  font-family: 'Patua One', cursive;
}

.message{
  margin-top: 10px;
}

.name{
   font-size:  40px;
   text-align: center;
}